<!doctype html>
<html lang="es">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Nuevo alumno - CodeCharts</title>
</head>

<body>
  <nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom border-secondary" id="navbarLanding">
    <a class="navbar-brand" href="/courses">
      <img src="/assets/logo_navbar.png" width="25" height="25" class="d-inline-block align-top" alt="logo"> CodeCharts
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
      aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" href="/courses">
            Mis cursos
          </a>
        </li>
      </ul>
      <form class="form-inline my-2 my-lg-0">
        <div class="dropdown">
          <button class="btn btn-outline-secondary btn-sm dropdown-toggle" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true"
            aria-expanded="false">
            <%= current_teacher.first_name %>
          </button>
          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenu2">
            <%= link_to "Editar perfil", edit_teacher_registration_path, class:"dropdown-item"%>
              <%= link_to "Cerrar sesión", destroy_teacher_session_path, method: :delete, class:"dropdown-item" %>
          </div>
        </div>
      </form>
  </nav>

  <%= render 'layouts/messages' %>

    <div class="container">
      <div class="row">
        <div class="col-md-6 offset-md-3">
          <div class="shadow p-3 mb-5 bg-light rounded mt-md-5">
            <h2 class="text-center">Datos del alumno</h2>
            <%= form_for @user do |f| %>
              <%= hidden_field_tag "seccion", @section.id %>
                <div class="form-group">
                  <div class="field">
                    <%= f.label :first_name, "Nombre" %>
                      <br>
                      <%= f.text_field :first_name, class:"form-control" %>
                  </div>
                </div>

                <div class="form-group">
                  <div class="field">
                    <%= f.label :last_name, "Apellidos" %>
                      <br>
                      <%= f.text_field :last_name, class:"form-control"%>
                  </div>
                </div>

                <div class="form-group">
                  <div class="field">
                    <%= f.label :username, "Nombre de usuario" %>
                      <br>
                      <%= f.text_field :username, class:"form-control"%>
                  </div>
                </div>

                <div class="form-group">
                  <div class="field">
                    <%= f.label :gender, "Sexo" %>
                      <br>
                      <%= f.select(:gender, ["Masculino", "Femenino", "Otro"], {include_blank: true}, {class:"form-control"})%>
                  </div>
                </div>

                <div class="form-group">
                  <div class="field">
                    <%= f.label :age, "Edad" %>
                      <br>
                      <%= f.number_field :age, class:"form-control"%>
                  </div>
                </div>

                <div class="form-group">
                  <div class="field">
                    <%= f.label :total_lines, "Líneas totales" %>
                      <br>
                      <%= f.number_field :total_lines, class:"form-control"%>
                  </div>
                </div>

                <div class="form-group">
                  <div class="field">
                    <%= f.label :completed_levels, "Niveles completados" %>
                      <br>
                      <%= f.number_field :completed_levels, class:"form-control"%>
                  </div>
                </div>

                <div class="actions text-center">
                  <%= f.submit "Crear", class:"btn btn-primary btn-sm"%>
                    <%= link_to "Volver", @section, class:"btn btn-dark btn-sm"%>
                </div>
                <% end %>
          </div>
        </div>
      </div>
    </div>
</body>

</html>