<!doctype html>
<html lang="es">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Seccion - CodeCharts</title>
</head>

<body>

    <nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom border-secondary" id="navbarLanding">
        <a class="navbar-brand" href="/courses">
            <img src="/assets/logo_navbar.png" width="25" height="25" class="d-inline-block align-top" alt="logo"> CodeCharts
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
            aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/courses">
                        Mis cursos
                    </a>
                </li>
            </ul>
            <form class="form-inline my-2 my-lg-0">
                <div class="dropdown">
                    <button class="btn btn-outline-secondary btn-sm dropdown-toggle" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true"
                        aria-expanded="false">
                        <%= current_teacher.first_name %>
                    </button>
                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenu2">
                        <%= link_to "Editar perfil", edit_teacher_registration_path, class:"dropdown-item"%>
                            <%= link_to "Cerrar sesión", destroy_teacher_session_path, method: :delete, class:"dropdown-item" %>
                    </div>
                </div>
            </form>
    </nav>

    <%= render 'layouts/messages' %>

        <div class="container">
            <br>
            <div class="row">
                <div class="col-md-12">
                    <ul class="nav nav-tabs" id="myTab" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" id="pills-home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Lista de alumnos</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="pills-upload-tab" data-toggle="tab" href="#upload" role="tab" aria-controls="upload" aria-selected="false">Subir fichero</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="pills-profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">Estadísticas</a>
                        </li>
                    </ul>

                    <div class="tab-content" id="myTabContent">
                        <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                            <div class="shadow p-3 mb-5 bg-white rounded">
                                <h1 class="font-weight-light text-muted">
                                    <%= @section.name %>
                                </h1>
                                <h2 class="font-weight-light">
                                    Alumnos matriculados
                                    <i class="far fa-question-circle fa-xs" style="color: grey;" data-toggle="popover" title="Información adicional" data-content="Puede matricularlos manualmente
                                    o subiendo un fichero con la información de los alumnos."></i>
                                    <%= link_to new_user_path(id: @section.id), class:"btn btn-outline-primary btn-sm float-right" do%>
                                        Añadir alumno
                                        <i class="fas fa-plus"></i>
                                        <% end %>
                                </h2>
                                <% if @users.length != 0 %>
                                    <%= will_paginate @users, renderer: WillPaginate::ActionView::BootstrapLinkRenderer %>
                                        <div class="table-responsive">
                                            <table class="table table-striped text-center">
                                                <thead>
                                                    <tr>
                                                        <th scope="col">Nombre de usuario</th>
                                                        <th scope="col">Edad</th>
                                                        <th scope="col">Sexo</th>
                                                        <th scope="col">Total de líneas</th>
                                                        <th scope="col">Niveles completados</th>
                                                        <th scope="col"></th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <% @users.each do |student| %>
                                                        <tr>
                                                            <td>
                                                                <%= student.username %>
                                                            </td>
                                                            <td>
                                                                <%= student.age %>
                                                            </td>
                                                            <td>
                                                                <%= student.gender %>
                                                            </td>
                                                            <td>
                                                                <%= student.total_lines %>
                                                            </td>
                                                            <td>
                                                                <%= student.completed_levels %>
                                                            </td>
                                                            <td>
                                                                <%= link_to "Eliminar", user_path(id: student.id, params: {section_id: @section.id}), method: :delete, class:"btn btn-danger btn-sm"%>
                                                            </td>
                                                        </tr>
                                                        <% end %>
                                                </tbody>
                                            </table>
                                        </div>
                                        <% else %>
                                            <div class="alert alert-info text-center" role="alert" id="alert">
                                                No hay alumnos matriculados. Para introducirlos manualmente, haga click en
                                                <strong>"Añadir alumno"</strong>.
                                            </div>
                                            <% end %>
                            </div>
                        </div>

                        <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                            <div class="shadow p-3 mb-5 bg-white rounded">
                                <h2 class="font-weight-light">Estadísticas
                                    <i class="far fa-question-circle fa-xs" style="color: grey;" data-toggle="popover" title="Información adicional" data-content="Descarga todos los resultados en PDF pulsando el botón (Descargar), 
                                    o cada gráfico individualmente, a través del icono situado en la parte superior derecha de cada uno de ellos."></i>
                                    <%= link_to section_path(@section.id, format: :pdf), class:"btn btn-outline-primary btn-sm float-right" do %>
                                        Descargar
                                        <i class="fas fa-file-pdf"></i>
                                        <% end %>
                                </h2>
                                <h4 class="font-weight-light">Total de alumnos matriculados en el curso</h4>
                                <br>
                                <%= pie_chart @users.group(:gender).count, colors: ["#993366", "#0099ff"], donut: true, download: true %>
                                    <br>
                                    <h4 class="font-weight-light">Alumnos con más niveles completados</h4>
                                    <br>
                                    <%= bar_chart @hash_user_max_levels, xtitle: "Niveles", ytitle: "Alumnos", colors: ["#009933"], download: true %>
                                        <br>
                                        <h4 class="font-weight-light">Alumnos con menos niveles completados</h4>
                                        <br>
                                        <%= bar_chart @hash_user_min_levels, xtitle: "Niveles", ytitle: "Alumnos", colors: ["#cc0000"], download: true %>
                                            <br>
                                            <h4 class="font-weight-light">Niveles completados clasificados por sexos</h4>
                                            <br>
                                            <%= pie_chart @gender_levels, colors: ["#417F63", "#87BF61"], download: true %>
                                                <br>
                                                <h4 class="font-weight-light">Media de niveles completados por edades</h4>
                                                <br>
                                                <%= line_chart @users_age, xtitle: "Edades", ytitle: "Niveles", colors: ["#FFBD45"], download: true %>
                                                    <br>
                                                    <h4 class="font-weight-light">Promedio de "líneas de código" según los niveles completados</h4>
                                                    <br>
                                                    <%= line_chart @avg_users, xtitle: "Niveles completados", ytitle: "Líneas de código", download: true %>
                                                    <br>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="upload" role="tabpanel" aria-labelledby="upload-tab">
                            <div class="shadow p-3 mb-5 bg-white rounded">
                                <h2 class="font-weight-light">Cargar fichero de alumnos</h2>
                                <p class="font-weight-light">Esta opción permite subir un
                                    <strong>archivo</strong> (extensión .json) en el que se recogen todos los datos asociados a los
                                    alumnos en la sección.</p>
                                <div class="custom-file">
                                    <%= form_tag({action: :upload}, multipart: true) do %>
                                        <%= hidden_field_tag "seccion", @section.id %>
                                            <%= file_field_tag 'file' %>
                                                <%= submit_tag 'Cargar', class:"float-right" %>
                                                    <% end %>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</body>

<script>
    $(function () {
        $('[data-toggle="popover"]').popover()
    })
</script>

</html>