<!doctype html>
<html lang="es">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Cursos - CodeCharts</title>
</head>

<body>

    <nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom border-secondary" id="navbarLanding">
        <a class="navbar-brand" href="/courses">
            <img src="/assets/logo_navbar.png" width="25" height="25" class="d-inline-block align-top" alt="logo"> CodeCharts
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
            aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <%= link_to "Cursos", :courses, class:"btn btn-outline-info btn-sm", id:"botonNav"%>
            </ul>
            <form class="form-inline my-2 my-lg-0">
                <p class="my-2 my-sm-0" id="teacherName">Conectado como
                    <%= current_teacher.first_name %>
                </p>
                <%= link_to "Editar perfil", edit_teacher_registration_path, class:"btn btn-outline-info btn-sm", id:"botonNav"%>
                    <%= link_to "Cerrar sesión", destroy_teacher_session_path, method: :delete, class:"btn btn-danger btn-sm"%>
            </form>
    </nav>

    <div class="container">
        <br>
        <div class="row">
            <div class="col-md-12">
                <div class="shadow p-3 mb-5 bg-white rounded">
                    <%= render 'layouts/messages' %>
                        <h2 class="font-weight-light">
                            Alumnos matriculados
                            <%= link_to "Añadir alumno", new_user_path(id: @sections.id), class:"btn btn-outline-primary btn-sm float-right"%>
                        </h2>
                        <% if @users.length != 0 %>
                            <%= will_paginate @users, renderer: WillPaginate::ActionView::BootstrapLinkRenderer %>
                                <div class="table-responsive">
                                    <table class="table table-striped table-hover text-center">
                                        <thead>
                                            <tr>
                                                <th scope="col">Nombre de usuario</th>
                                                <th scope="col">Edad</th>
                                                <th scope="col">Género</th>
                                                <th scope="col">Total de líneas</th>
                                                <th scope="col">Niveles completados</th>
                                                <th scope="col"></th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <% @users.each do |student| %>
                                                <tr>
                                                    <td>
                                                        <%= student.username %>
                                                    </td>
                                                    <td>
                                                        <%= student.age %>
                                                    </td>
                                                    <td>
                                                        <%= student.gender %>
                                                    </td>
                                                    <td>
                                                        <%= student.total_lines %>
                                                    </td>
                                                    <td>
                                                        <%= student.completed_levels %>
                                                    </td>
                                                    <td>
                                                        <%= link_to "Eliminar", user_path(id: student.id, params: {section_id: @sections.id}), method: :delete, class:"btn btn-danger btn-sm"%>
                                                    </td>
                                                </tr>
                                                <% end %>
                                        </tbody>
                                    </table>
                                </div>
                </div>
                <div class="shadow p-3 mb-5 bg-white rounded">
                    <h2 class="font-weight-light">Subir fichero con información de alumnos</h2>
                    <p class="font-weight-light">Esta opción le permite al profesor subir un
                        <strong>fichero</strong> (extensión .json) en el que se recogen todos los datos asociados a los alumnos en
                        esta sección</p>
                    <div class="custom-file">
                        <%= form_tag({action: :upload, controller: :sections}, multipart: true) do %>
                            <%= hidden_field_tag "seccion", @sections.id %>
                                <%= file_field_tag 'file' %>
                                    <%= submit_tag 'Cargar', class:"float-right" %>
                                        <% end %>
                    </div>
                </div>
                <div class="shadow p-3 mb-5 bg-white rounded">
                    <h2 class="font-weight-light">Estadísticas
                    <%= link_to new_user_path(id: @courses), class:"btn btn-outline-primary btn-sm float-right disabled" do %>
                        Descargar
                        <i class="fas fa-arrow-down"></i>
                        <% end %>
                    </h2>
                    <h4 class="font-weight-light">Líneas de código por edades</h4>
                    <br>
                    <%= column_chart @hash_ages, xtitle: "Edades alumnos", ytitle: "Total de líneas de código", colors: ["#0064FF"] %>
                        <br>
                        <h4 class="font-weight-light">Niveles completados por alumnos</h4>
                        <br>
                        <%= line_chart @hash_pupils, xtitle: "Alumnos", ytitle: "Niveles completados", colors: ["#FFAE0D"] %>
                            <br>
                            <h4 class="font-weight-light">Cantidad de chicos y chicas</h4>
                            <br>
                            <%= pie_chart @users.group(:gender).count, colors: ["#BA2B00", "#00BD6A"] %>
                </div>
                <% else %>
                    <div class="alert alert-info text-center" role="alert" id="alert">
                        No hay alumnos matriculados todavía. Para introducirlos haga click en
                        <strong>Añadir alumno</strong>
                    </div>
            </div>
            <div class="shadow p-3 mb-5 bg-white rounded">
                <h2 class="font-weight-light">Subir fichero con información de alumnos</h2>
                <p class="font-weight-light">Esta opción le permite al profesor subir un
                    <strong>fichero</strong> (extensión .json) en el que se recogen todos los datos asociados a los alumnos en esta
                    sección
                </p>
                <div class="custom-file">
                    <%= form_tag({action: :upload, controller: :sections}, multipart: true) do %>
                        <%= hidden_field_tag "seccion", @sections.id %>
                            <%= file_field_tag 'file' %>
                                <%= submit_tag 'Cargar', class:"float-right" %>
                                    <% end %>
                </div>
            </div>
            <% end %>
        </div>
    </div>
    </div>
</body>

</html>