<!doctype html>
<html lang="es">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Cursos - CodeCharts</title>
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom border-secondary" id="navbarLanding">
        <a class="navbar-brand" href="/courses">
            <img src="/assets/logo_navbar.png" width="25" height="25" class="d-inline-block align-top" alt="logo"> CodeCharts
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
            aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a href="/courses/new">
                        <button type="button" class="btn btn-outline-success btn-sm">Crear curso</button>
                    </a>
                </li>
            </ul>
            <form class="form-inline my-2 my-lg-0">
                <p class="my-2 my-sm-0" id="teacherName">
                    <%= current_teacher.first_name %>
                </p>
                <%= link_to "Editar perfil", edit_teacher_registration_path, class:"btn btn-outline-info btn-sm", id:"botonNav"%>
                <%= link_to "Cerrar sesión", destroy_teacher_session_path, method: :delete, class:"btn btn-danger btn-sm"%>
            </form>
    </nav>

    <%= render 'layouts/messages' %>

        <div class="container">
            <% if @courses.length != 0 %>
                <div class="col-md-12">
                    <div class="row">
                        <% @courses.each do |course| %>
                            <div class="col-md-4">
                                <div class="card text-center d-inline-block" id="tarjetas">
                                    <div class="card-header">
                                        <strong>CURSO</strong>
                                    </div>
                                    <div class="card-body">
                                        <h5 class="card-title">
                                            <%= course.title %>
                                        </h5>
                                        <p class="card-text">
                                            <%= course.body %>
                                        </p>
                                        <a href="/courses/<%= course.id %>" class="btn btn-info btn-sm">Más información <i class="fas fa-search-plus"></i></a>
                                    </div>
                                    <div class="card-footer text-muted">
                                        <p>Creado:
                                            <%= course.created_at %>
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <%end%>
                    </div>
                </div>
                <%else%>
                    <div class="row">
                        <div class="col-12">
                            <div class="alert alert-info text-center" role="alert" id="alert">
                                No tienes todavía ningún curso. Crea tu primer taller/curso haciendo click en
                                <strong>"Crear curso"</strong>.
                            </div>
                        </div>
                    </div>
                <%end%>
        </div>
</body>

</html>