<!doctype html>
<html lang="es">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Cursos - CodeCharts</title>
</head>

<body>

    <nav class="navbar navbar-expand-lg navbar-light bg-light" id="navbarLanding">
        <a class="navbar-brand" href="/courses">
            <img src="/assets/logo_navbar.png" width="25" height="25" class="d-inline-block align-top" alt="logo"> CodeCharts
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
            aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
            </ul>
            <form class="form-inline my-2 my-lg-0">
                <p class="my-2 my-sm-0" id="teacherName">Conectado como
                    <%= current_teacher.first_name %>
                </p>
                <%= link_to "Cerrar sesión", destroy_teacher_session_path, method: :delete, class:"btn btn-danger"%>
            </form>
    </nav>
    
    <div class="card" id="infoCurso">
        <div class="card-body">
            <h1 class="card-title">
                <%= @courses.title %>
            </h1>
            <p class="card-text">
                <%= @courses.body %>
            </p>
            <p>Creado:
                <%= @courses.created_at %>
            </p>
        </div>
    </div>

    <div class="card" id="infoCurso">
        <% if @users.length != 0 %>
            <div class="card-body">
                <h1>Datos de los alumnos</h1>
            </div>
            <div class="card-body">
                <%= link_to "Añadir alumno", new_user_path(id: @courses), class:"btn btn-primary" %>
            </div>
            <div class="table-responsive"></div>
            <table class="table table-striped table-hover text-center">
                <thead>
                    <tr>
                        <th scope="col">Nombre</th>
                        <th scope="col">Apellidos</th>
                        <th scope="col">Edad</th>
                        <th scope="col">Género</th>
                        <th scope="col">Total de líneas</th>
                        <th scope="col">Niveles completados</th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                <tbody>
                    <% @users.each do |student| %>
                        <tr>
                            <td>
                                <%= student.first_name %>
                            </td>
                            <td>
                                <%= student.last_name %>
                            </td>
                            <td>
                                <%= student.age %>
                            </td>
                            <td>
                                <%= student.gender %>
                            </td>
                            <td>
                                <%= student.total_lines %>
                            </td>
                            <td>
                                <%= student.completed_levels %>
                            </td>
                            <td>
                                <%= link_to "Eliminar", student, method: :delete, class:"btn btn-danger btn-sm"%>
                            </td>
                        </tr>
                        <% end %>
                </tbody>
            </table>
            </div>
            <% else %>
                <div class="row">
                    <div class="col-12">
                        <div class="alert alert-info text-center" role="alert" id="alert">
                            No hay alumnos asignados a este curso. Para crearlos, pulse
                            <%= link_to "Añadir alumno", new_user_path(id: @courses)%>
                        </div>
                    </div>
                </div>
                <% end %>
    </div>

    <% hash_ages = {} %>
    <% hash_pupils = {} %>
    <% @users.each do |stats_ages| %>
        <% hash_ages[stats_ages.age] = stats_ages.total_lines %>
        <% hash_pupils[stats_ages.id] = stats_ages.completed_levels %>
    <% end%>

    <div class="card" id="infoCurso">
        <div class="card-body">
            <h1>Estadísticas</h1>
                <%= column_chart hash_ages, xtitle: "Edades alumnos", ytitle: "Total de líneas de código" %>
        </div>
    </div>
</body>

</html>