<!doctype html>
<html lang="es">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Curso - CodeCharts</title>
</head>

<body>

    <nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom border-secondary" id="navbarLanding">
        <a class="navbar-brand" href="/courses">
            <img src="/assets/logo_navbar.png" width="25" height="25" class="d-inline-block align-top" alt="logo"> CodeCharts
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
            aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <%= link_to "Cursos", :courses, class:"btn btn-outline-info btn-sm", id:"botonNav"%>
            </ul>
            <form class="form-inline my-2 my-lg-0">
                <p class="my-2 my-sm-0" id="teacherName">
                    <%= current_teacher.first_name %>
                </p>
                <%= link_to "Editar perfil", edit_teacher_registration_path, class:"btn btn-outline-info btn-sm", id:"botonNav"%>
                <%= link_to "Cerrar sesión", destroy_teacher_session_path, method: :delete, class:"btn btn-danger btn-sm"%>
            </form>
    </nav>

    <div class="container">
        <br>
        <div class="row">
            <div class="col-md-3">
                <div class="shadow p-3 mb-5 bg-white rounded">
                    <h2 class="font-weight-light">
                        Detalles del curso
                    </h2>
                    <h3 class="font-weight-light">
                        <strong>Título</strong>
                    </h3 class="font-weight-light">
                    <p class="font-weight-light">
                        <%= @courses.title %>
                    </p>
                    <h3 class="font-weight-light">
                        <strong>Descripción</strong>
                    </h3>
                    <p class="font-weight-light">
                        <%= @courses.body %>
                    </p>
                    <p class="text-muted">
                        Creado por:
                        <%= @courses.teacher.first_name %>
                    </p>
                    <%= link_to edit_course_path(id: @courses), class:"btn btn-warning btn-sm" do %>
                        Editar
                        <i class="far fa-edit"></i>
                    <% end %>
                    <%= link_to new_section_path(id: @courses), class:"btn btn-info btn-sm" do %>
                        Añadir sección
                        <i class="fas fa-plus"></i>
                    <% end %>
                </div>
            </div>
            <div class="col-md-9">
                <% if @sections.length == 0 %>
                    <div class="alert alert-info text-center" role="alert" id="alert">
                        No hay secciones creadas para este curso. Para crearlos, pulse
                        <strong>"Añadir sección"</strong>
                    </div>
                    <div class="alert alert-info text-center" role="alert" id="alert">
                        Para poder obtener una visualización de las estadísticas, debe añadir secciones previamente
                    </div>
                    <% else %>
                    <div class="shadow p-3 mb-5 bg-white rounded">
                      <%= render 'layouts/messages' %>
                        <h2 class="font-weight-light">
                            Secciones disponibles
                        </h2>
                        <br>
                        <% @sections.each do |sections_course|%>
                            <div class="card">
                                <div class="card-body bg-light">
                                    <h3 class="font-weight-light">
                                        <%= sections_course.name %>
                                        <%= link_to "Eliminar", section_path(id: sections_course.id, params: {course_id: @courses.id}), method: :delete, class:"btn btn-outline-danger btn-sm float-right"%>
                                        <%= link_to "Administrar alumnos", section_path(id: sections_course.id, params: {course_id: @courses.id}), class:"btn btn-outline-success btn-sm float-right mr-md-1"%>
                                    </h3>
                                </div>
                            </div>
                            <br>
                        <% end %>
                        </div>
                        <div class="shadow p-3 mb-5 bg-white rounded">
                            <h2 class="font-weight-light">
                                Estadísticas
                            </h2>
                        </div>
                <%end%>
            </div>
        </div>
    </div>
</body>

</html>