<!doctype html>
<html lang="es">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Cursos - CodeCharts</title>
</head>

<body>

    <nav class="navbar navbar-expand-lg navbar-light bg-light" id="navbarLanding">
        <a class="navbar-brand" href="/courses">
            <img src="/assets/logo_navbar.png" width="25" height="25" class="d-inline-block align-top" alt="logo"> CodeCharts
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
            aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
            </ul>
            <form class="form-inline my-2 my-lg-0">
                <p class="my-2 my-sm-0" id="teacherName">Conectado como
                    <%= current_teacher.first_name %>
                </p>
                <%= link_to "Cerrar sesión", destroy_teacher_session_path, method: :delete, class:"btn btn-danger"%>
            </form>
    </nav>

    <div class="container">
        <br>
        <div class="row">
            <div class="col-md-4">
                <div class="shadow p-3 mb-5 bg-white rounded">
                    <h2 class="font-weight-light">
                        Detalles del curso
                    </h2>
                    <h3 class="font-weight-light">
                        Título
                    </h3 class="font-weight-light">
                    <p class="font-weight-light">
                        <%= @courses.title %>
                    </p>
                    <h3 class="font-weight-light">
                        Descripción
                    </h3>
                    <p class="font-weight-light">
                        <%= @courses.body %>
                    </p>
                    <p class="text-muted">
                        Creado por:
                        <%= @courses.teacher.first_name %>
                    </p>
                </div>
            </div>
            <div class="col-md-8">
                <div class="shadow p-3 mb-5 bg-white rounded">
                    <h2 class="font-weight-light">
                        Alumnos matriculados <%= link_to "Añadir alumno", new_user_path(id: @courses), class:"btn btn-outline-primary float-right" %>
                    </h2>
                    <% if @users.length != 0 %>
                            <div class="table-responsive">
                                <table class="table table-striped table-hover text-center">
                                    <thead>
                                        <tr>
                                            <th scope="col">Nombre de usuario</th>
                                            <th scope="col">Edad</th>
                                            <th scope="col">Género</th>
                                            <th scope="col">Total de líneas</th>
                                            <th scope="col">Niveles completados</th>
                                            <th scope="col"></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <% @users.each do |student| %>
                                            <tr>
                                                <td>
                                                    <%= student.username %>
                                                </td>
                                                <td>
                                                    <%= student.age %>
                                                </td>
                                                <td>
                                                    <%= student.gender %>
                                                </td>
                                                <td>
                                                    <%= student.total_lines %>
                                                </td>
                                                <td>
                                                    <%= student.completed_levels %>
                                                </td>
                                                <td>
                                                    <%= link_to "Eliminar", student, method: :delete, class:"btn btn-danger btn-sm"%>
                                                </td>
                                            </tr>
                                            <% end %>
                                    </tbody>
                                </table>
                            </div>
                            <% else %>
                                <div class="row">
                                    <div class="col-12">
                                        <div class="alert alert-info text-center" role="alert" id="alert">
                                            No hay alumnos matriculados en este curso. Para asignarlos, pulse
                                            <strong>Añadir alumno</strong>
                                        </div>
                                    </div>
                                </div>
                            <% end %>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="shadow p-3 mb-5 bg-white rounded">
                    <% hash_ages = {} %>
                    <% hash_pupils = {} %>
                    <% @users.each do |stats_ages| %>
                    <% hash_ages[stats_ages.age] = stats_ages.total_lines %>
                    <% hash_pupils[stats_ages.id] = stats_ages.completed_levels %>
                    <% end%>

                    <h2 class="font-weight-light">Estadísticas</h2>
                    <%= column_chart hash_ages, xtitle: "Edades alumnos", ytitle: "Total de líneas de código" %>
                </div>
            </div>
        </div>
    </div>
</body>

</html>